.friendships {
  margin-top: 64px;

  .container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;

    h3 {
      font-size: 28px;
      line-height: 36px;
      font-weight: 600;
      color: #212121;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: #707070;
    }

    .friendships_cards {
      display: flex;
      justify-content: space-between;
      gap: 32px;
      margin-top: 12px;

      &-content {
        width: 100%;

        .image {
          img {
            border-radius: 8px;
            width: 100%;
          }
        }

        h4 {
          margin-top: 24px;
          font-size: 18px;
          line-height: 28px;
          font-weight: 600;
          color: #212121;
        }

        p {
          margin-top: 12px;
          margin-bottom: 16px;
        }

        a {
          font-size: 16px;
          line-height: 24px;
          color: #00798a;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .friendships {
    margin-top: 30px;

    .container {
      gap: 30px;

      h3 {
        font-size: 24px;
        line-height: 36px;
        font-weight: 600;
        color: #212121;
      }

      p {
        display: none;
      }

      .friendships_cards {
        display: flex;
        justify-content: unset;
        flex-direction: column;
        gap: 32px;
        margin-top: 0;

        &-content {
          width: 100%;

          .image {
            max-width: 440px;

            img {
              border-radius: 8px;
              width: 100%;
            }
          }

          h4 {
            margin-top: 24px;
            font-size: 18px;
            line-height: 28px;
            font-weight: 600;
            color: #212121;
          }

          p {
            display: block;
            margin-top: 12px;
            margin-bottom: 16px;
          }

          a {
            font-size: 16px;
            line-height: 24px;
            color: #00798a;
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .friendships {
    margin-top: 17px;

    .container {
      gap: 27px;

      h3 {
        font-size: 20px;
      }

      p {
        display: none;
      }

      .friendships_cards {
        display: flex;
        justify-content: unset;
        flex-direction: column;
        gap: 32px;
        margin-top: 0;

        &-content {
          .image {
            max-width: 360px;
            img {
              border-radius: 8px;
              width: 100%;
            }
          }

          h4 {
            margin-top: 23px;
            font-size: 16px;
            line-height: 27px;
          }

          p {
            display: block;
            max-width: 355px;
            margin-top: 12px;
            margin-bottom: 16px;
          }

          a {
            font-size: 12px;
            line-height: 23px;
          }
        }
      }
    }
  }
}
