.join-meetup {
  margin-top: 90px;

  .container {
    width: 100%;

    padding: 20px 56px;
    background-color: #97cad114;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;

    .content {
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 600px;

      h3 {
        font-size: 28px;
        line-height: 36px;
        font-weight: 600;
      }

      .handsUp_mobile {
        display: none;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      }

      button {
        width: 192px;
        height: 40px;
        background-color: #e32359;
        color: white;
        border: none;
        border-radius: 8px;
      }
    }

    .handsUp_desktop {
      // margin: 0 auto;
      max-width: 380px;
      max-height: 270px;

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .join-meetup {
    margin-top: 70px;

    .container {
      display: flex;
      justify-content: center;
      padding: 16px;
      gap: 0px;
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h3 {
          align-self: start;
          font-size: 24px;
          line-height: 36px;
        }

        .handsUp_mobile {
          display: block;
          max-width: 280px;
          max-height: 180px;

          img {
            width: 100%;
          }
        }

        p {
          font-size: 14px;
        }

        button {
          margin-top: 22px;
          width: 192px;
          height: 40px;
          background-color: #e32359;
          color: white;
          border: none;
          border-radius: 8px;
          font-size: 16px;
        }
      }

      .handsUp_desktop {
        display: none;
      }
    }
  }
}

@media (max-width: 430px) {
  .join-meetup {
    margin-top: 70px;

    .container {
      padding: 16px;
      display: flex;
      gap: 0;

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        max-width: 350px;

        h3 {
          align-self: start;
          font-size: 20px;
          line-height: 36px;
        }

        .handsUp_mobile {
          display: block;
          max-width: 240px;
          max-height: 140px;

          img {
            width: 100%;
          }
        }

        p {
          margin-top: 6.2px;
          font-size: 12px;
          line-height: 24px;
        }

        button {
          margin-top: 22px;
          width: 192px;
          height: 40px;
          background-color: #e32359;
          color: white;
          border: none;
          border-radius: 8px;
          font-size: 16px;
        }
      }

      .handsUp_desktop {
        display: none;
      }
    }
  }
}
