@use './reset';

@use './header';
@use './section1_join';
@use './section2_events';
@use './section3_online';
@use './section4_meetup';
@use './section5_categories';
@use './section6_popular';
@use './section7_how';
@use './section8_friendship';
@use './footer';

// 1920
// 1760
// 1440
// 1024
// 768
// 415
// 375

// body {
// }

main {
  padding: 0 30px;
  // margin: 0 auto;
  // width: 1200px;
}

section {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
}

// @media (max-width: 1760px) {
//   .container {
//     width: 100%;
//   }
// }
