@use './components/additional/reset';

//main page
@use './components/header';
@use './components/join';
@use './components/events';
@use './components/online';
@use './components/meetup';
@use './components/categories';
@use './components/popular';
@use './components/how';
@use './components/friendship';
@use './components/footer';

//filter page
@use './components/filter';

// 1240
// 1024
// 768
// 430
// 375
body {
  color: #212121;
}

main {
  padding: 0 25px;
  // margin: 0 auto;
  // width: 1200px;
}

section {
  display: flex;
  justify-content: center;
}

select {
  cursor: pointer;
  border: none;
}
.container {
  max-width: 1200px;
}

@media (max-width: 430px) {
  body {
    main {
      padding: 0 15px;
    }
  }
  // .container {
  //   max-width: 400px;
  // }
}
