@use './components/additional/reset';

//main page
@use './components/header';
@use './components/join';
@use './components/events';
@use './components/online';
@use './components/meetup';
@use './components/popular';
@use './components/categories';
@use './components/how';
@use './components/friendship';
@use './components/footer';

//filter page
@use './components/filter';

// 1920
// 1760
// 1440
// 1024
// 768
// 415
// 375
body {
  color: #212121;
}

main {
  padding: 0 30px;
  // margin: 0 auto;
  // width: 1200px;
}

section {
  display: flex;
  justify-content: center;
}

select {
  cursor: pointer;
  border: none;
}
.container {
  max-width: 1200px;
}
